<div id="form"><br><br>

  <form action="/auth/login" method="POST">
    <h5>Login</h5><br />

    <label>
      Email
      <input type="email" name="email" />
    </label>

    <label>Password
      <input type="password" name="password" />
    </label>
    <br />
    <button type="submit">Login</button>
    <br /><br />
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>