{{! views/auth/signup.hbs }}
{{! views/auth/signup.hbs }}
{{! the form stays untouched except the error message part }}

<div id="form">
  <h2>Signup</h2>
  <form action="/auth/signup" method="POST">

    <label for="first-name">First name: </label>
    <input
      type="text"
      id="first-name"
      name="firstName"
      placeholder="First name"
    />

    <label for="last-name">Last name: </label>
    <input type="text" id="last-name" name="lastName" placeholder="Last name" />
    <label for="email">Email: </label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="example@example.com"
    />
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" placeholder="Username" />
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" placeholder="******" />

    <button type="submit">Create account</button>

    {{! error message will be added here }}
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>