<!-- Modal -->
<div
  class="modal fade"
  id="createTaskModal"
  tabindex="-1"
  aria-labelledby="createTaskModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <h1>Create Task</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <form action="/tasks/create/{{_id}}" method="post">
          <label for="title">Title: </label>
          <input type="text" placeholder="Title" name="title" />
          <label for="description">Description: </label>
          <input type="text" placeholder="Description" name="description" />
          <button type="submit">Create Task</button>
        </form>
        <button
          type="button"
          class="modal-button"
          data-bs-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>