<!-- Modal -->
<div
  class="modal fade"
  id="deleteProjectModal{{_id}}"
  tabindex="-1"
  aria-labelledby="projectModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="delete-container">
        <h2>Are you sure you want to delete project:"{{title}}?"</h2>
        <p>You will lose all of the associated tasks and subtasks!!!</p><br><br>
        <form
          action="/projects/delete/{{_id}}"
          method="post"
          class="delete-buttons-container"
        >
          <button type="submit" class="modal-button" data-bs-dismiss="modal">
            Delete
          </button>
          <button
            type="button"
            class="modal-button"
            data-bs-dismiss="modal"
          >Close</button>
        </form>
      </div>
    </div>
  </div>
</div>