<!-- Modal -->
<div
  class="modal fade"
  id="deleteTaskModal{{_id}}"
  tabindex="-1"
  aria-labelledby="projectModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="delete-container">
        <h2>Are you sure you want to delete task:"{{title}}?"</h2>
        <p>You will also delete all the associated subtasks!</p><br /><br />
        <form action="/tasks/delete/{{_id}}" method="post">
          <div class="delete-buttons-container">
            <button type="submit" class="modal-button" data-bs-dismiss="modal">
              Delete
            </button>
            <button
              type="button"
              class="modal-button"
              data-bs-dismiss="modal"
            >Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>