<h1>images</h1>
<form action="/images" method="post" enctype="multipart/form-data">
  <input type="file" name="profilePicture" /><br /><br /><hr />
  <textarea name="textarea" id="" cols="30" rows="10"></textarea>
  <button type="submit">submit</button>
</form>
<img src="{{image}}" alt="image" />