<div id="index">
  <h1>Welcome!</h1>
  <p><span>Project Management</span>
    is an App that allows you <span>divide</span>  a large programming project into <span>smaller</span>,
    more doable tasks
  </p>
</div>