<h2>Projects</h2>
<button data-bs-toggle="modal" data-bs-target="#createProjectModal">New Project</button>
<table class="table table-hover">


{{#if projects}}
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
       <th scope="col">User</th>
       <th scope="col">Created at</th>
       <th scope="col">Updated at</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    
    {{#each projects}}
    {{!-- <tr data-bs-toggle="modal" data-bs-target="#exampleModal"> --}}
      {{>projectRowPartial}}
    {{!-- </tr> --}}
    {{/each}}
  </tbody>
</table>
{{else}}
<h6>No projects added yet! Please add a new task</h6>
{{/if}}



{{>createProjectModalPartial}}
