<div class="table-headings">
<h5>Projects</h2>
<div>
  <button data-bs-toggle="modal" data-bs-target="#createProjectModal">New Project</button>
</div>
</div>
<br>
{{#if projects}}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
       <th>User</th>
       <th>Updated</th>
      {{!-- <th>Details</th> --}}
    </tr>
  </thead>
  <tbody>
    
    {{#each projects}}
    {{!-- <tr data-bs-toggle="modal" data-bs-target="#exampleModal"> --}}
      {{>projectRowPartial}}
    {{!-- </tr> --}}
    {{/each}}
  </tbody>
</table>
{{else}}
<h6>No projects added yet! Please add a new task</h6>
{{/if}}



{{>createProjectModalPartial}}
