body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#checkBtn {
  display: none;
}
#invisible-toggle {
  display: none;
}

#checkBtn:checked ~ #invisible-toggle {
  display: block;
}
#checkBtn:checked ~ #visible-toggle {
  display: none;
}
// .toggleLabel {
//   cursor: pointer;
//   border: 1px solid black;
//   border-radius: 10px;
//   padding: 5px 10px;
//   &:hover {
//     background-color: lightgray;
//   }
// }
.modal-button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: white;
  &:hover {
    background-color: lightgray;
  }
}
