body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#project-checkBtn {
  display: none;
}
#task-checkBtn {
  display: none;
}
#subtask-checkBtn {
  display: none;
}


#project-invisible-toggle {
  display: none;
}
#task-invisible-toggle {
  display: none;
}
#subtask-invisible-toggle {
  display: none;
}


#project-checkBtn:checked ~ #project-invisible-toggle {
  display: block;
}
#project-checkBtn:checked ~ #project-visible-toggle {
  display: none;
}
#task-checkBtn:checked ~ #task-invisible-toggle {
  display: block;
}
#task-checkBtn:checked ~ #task-visible-toggle {
  display: none;
}
#subtask-checkBtn:checked ~ #subtask-invisible-toggle {
  display: block;
}
#subtask-checkBtn:checked ~ #subtask-visible-toggle {
  display: none;
}

.toggleLabel {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  &:hover {
    background-color: lightgray;
  }
}
.modal-button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: white;
  &:hover {
    background-color: lightgray;
  }
}
